





body{
    box-sizing: border-box;
    font-family: Arial !important;
}

*{
    margin: 0;
    padding: 0;

}

a:hover{
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.9) !important;
}

/* Navbar */
.navbar{
height: 7.5vh;
}

.navbar-nav {
    margin-top: 2%;
}

.navbar-arrow{
    color: #96c93c;
    margin-top: 13px;
}



.nav-link{
    color: rgba(0, 0, 0, 0.9) !important;
    font-size: 16px;
}

.nav-link:hover{
    color: rgba(0, 0, 0, 0.9) !important;
}

/* Navbar Ends */


/* Cover */

.cover{
    margin-top:7.5vh;
    height: 92.5vh;
    background-color: #96c93c;
  position: relative;
  
}

.cover-img{
    background: url(./Resouces/cover_img.png);
    background-size: auto 100%;
    width: auto;
    height: 92.5vh;
    background-repeat: no-repeat;
    
}


.cover-content-right{
    position: absolute;
    top: 5%;
    left: 67%;
    padding: 0px 40px;
}

.cover-content-right h1{
    color: rgba(255, 255, 255, 0.9);
    font-family: Arial;
    line-height: 75%;
    font-weight: 700;

}

.cover-content-right-p1, .cover-content-right-p2 {
    margin-top: 30px;
    line-height: 110%;
    color: rgba(255, 255, 255, 0.9);

}

.cover-button-outer{
width: 39%;
background-color: #7aae3d;
margin: 30px auto;
text-align: center;
padding: 10px 10px;
}

.how-can-i{
    margin: 0;
    border: 5px solid #96c93c;
    padding: 10px;
}

.cover-content-right > a{
text-decoration: none !important;

color: rgba(255, 255, 255, 0.9);

}


.message-icon-1{


    width: 50px;
    height: 44px;
position: absolute;

animation: blinker 1.5s infinite ease-in;
left: 28%;
top: 12.2%;
}
.message-icon-2{


    width: 50px;
    height: 44px;
position: absolute;

animation: blinker 1.5s infinite ease-in;
left: 19.4%;
top: 44.1%;
}

.message-icon-3{


    width: 50px;
    height: 44px;
position: absolute;

animation: blinker 1.5s infinite ease-in;
left: 38%;
top: 46%;
}


.girl-1{
    background: rgba(0, 0, 0, 0);
    width: 552px;
    height: 242px;;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 26.52%;
    top: 6.2%;
}

.girl-1:hover{
    background: url(./Resouces/girl_1.png);
    width: 552px;
    height: 242px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;

    animation: opacity-effect 0.5s 1 ease-in;
    animation-delay: 0.15s;
    animation-fill-mode: both;
   
}
.girl-2{
    background:rgba(0, 0, 0, 0);
    width: 496px;
    height: 324px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 2.8%;
    top: 28.1%;
 
}

.girl-2:hover{
    background: url(./Resouces/girl_2.png);
    width: 496px;
    height: 324px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    animation: opacity-effect 0.5s 1 ease-in;
    animation-delay: 0.15s;
    animation-fill-mode: both;
}

.girl-3{
    background:rgba(0, 0, 0, 0);
    width: 544px;
    height: 284px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 36.6%;
    top: 32%;
}
 


.girl-3:hover{
    background: url(./Resouces/girl_3.png);
    width: 544px;
    height: 284px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    animation: opacity-effect 0.5s 1 ease-in;
    animation-delay: 0.15s;
    animation-fill-mode: both;
}






/* Cover ends */

/* Main Content start */

.heading-content{
    width: 100%;
  
    margin: 30px auto 0 auto;
   

}

.together, .the-right{
    color: #999999;
    font-size: 30px;
    padding: 0;
    width: 1000px;
    margin: 0 auto;
   
}

.the-projects{
    margin: 30px 0px 0px 0px;
    text-align: center;
}

.grid-div{
display: flex;
justify-content: center;
flex-wrap: wrap;

}


.grid-div img{
    width: 130px;
}


.lorem{
    color: #999999;
    font-size: 27px;
    padding: 0;
   margin-top: 30px;
   font-weight: normal;
   width: 1000px;
   margin: 0 auto;
}

.mother{
    margin-left: -10px;
}


.dotted {
    margin-top: 30px;
        border: 3px dotted #96c93c;
     border-style: none none dotted; 
     color: #fff; 
     background-color: #fff;
     width: 500px;
     margin: 30px auto 50px auto;
     }

     .donor{
         text-align: center;
         margin-bottom: 30px;
     }

     
     .donor-cards{
         display: flex;
        
       flex-wrap: wrap;
         width: 100%;
         justify-content: center;
         margin: 0 auto;

     }

   

     .donor-card1{
         width: 495px;
         height: 230px;
        padding: 30px 37px 15px;
         border-bottom: 10px solid #7aae3d;
         box-shadow: inset 0px -1px 5px 0px #c5c5c5;
       margin: 5px;
        
     }
     .donor-card2{
        width: 495px;
        height: 230px;
        padding: 30px 37px 15px;
        border-bottom: 10px solid #7aae3d;
        box-shadow: inset 0px -1px 6px 0px #c5c5c5;
        margin: 5px;
    }




    

    .donor-bullet-div {
        display: flex;
        margin: 30px auto 0;
        /* grid-template-columns: repeat(auto-fill, minmax(300px, auto)); */
        /* margin-top: 30px; */
        justify-content: center;
        flex-wrap: wrap;
    }
    
   

    .donor-bullet-icon{
        color: #96c93c;
        margin: 3px;
    }

    .donor-bullet-1{
        margin-right: 40px;
    }
        
    .donor-bullet-2{
        margin-right: 40px;
    }
        
    .donor-bullet-3{
        margin-right: 40px;
    }
        



/* Main Content end */


/* Bottom Navbar */
.navbar-bottom{
    width: 100%;
    background-color: #7aae3d;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.nabar-bottom-icons{
 
    position: absolute;
    right: 50px;
   
}

.nabar-bottom-icons a{
    color: rgba(0, 0, 0, 0.9);
}

.nabar-bottom-icons a:hover{
    color: rgba(255, 255, 255, 0.9) !important;
}

.logo-facebook{
    font-size: 2.2rem;
    margin: 8px 10px 0px;
}
.logo-twitter{
    font-size: 2.2rem;
    margin: 8px 10px 0px;
}
.logo-linkedin{
    font-size: 2.2rem;
    margin: 8px 10px 0px;
}

/* Bottom Navbar end*/

/* Media query start */

@media only screen and (min-width: 1367px) and (max-width: 1600px) {



    
.girl-1{
    width: 447px;
    height: 196px;
    left: 25.8%;
    top: 6.23%;
 
}

.girl-1:hover{
   
    width: 447px;
    height: 196px;
 

}
.girl-2{
   
    width: 400px;
    height: 261px;
       left: 2.8%;
    top: 28.1%;
 
}

.girl-2:hover{
   
    width: 400px;
    height: 261px;
   
}

.girl-3{
    width: 439px;
    height: 229px;
    left: 35.55%;
    top: 32.15%;
 
}
 


.girl-3:hover{
    width: 439px;
    height: 229px;
}



.cover-button-outer {
    width: 42%;
  
}

.cover-content-right {

    left: 65%;
    padding: 0px 35px;
}

.message-icon-1 {
    width: 43px;
    height: 38px;
   
    left: 27.2%;
    top: 12.4%;
}

.message-icon-2 {
    width: 43px;
    height: 38px;
   
    left: 18.7%;
    top: 44.1%;
}

.message-icon-3 {
    width: 43px;
    height: 38px;

}
}

@media only screen and (min-width: 1281px) and (max-width: 1366px) {
.girl-1{
    width: 367px;
    height: 161px;
    left: 25%;
    top: 6.2%;
}
    .girl-1:hover {
        width: 367px;
        height: 161px;
    
    }
.girl-2{
    width: 330px;
    height: 215px;
    left: 2.70%;
    top: 28.2%;
}
    .girl-2:hover {
        width: 330px;
        height: 215px;
    
    }
.girl-3{
    width: 363px;
    height: 190px;
    left: 34.4%;
    top: 32.1%;
}
    .girl-3:hover {
        width: 363px;
        height: 190px;
    
    }
    .message-icon-1 {
        width: 30px;
        height: 27px;
     
        left: 26.5%;
        top: 12.25%;
    }
    .message-icon-2 {
        width: 30px;
        height: 27px;
        left: 18.5%;
        top: 44.1%;
       
    }
    .message-icon-3 {
        width: 30px;
        height: 27px;
        left: 36.5%;
        top: 48%;
     
       
    }

    .cover-content-right {
        position: absolute;
        top: 5%;
        left: 63%;
        padding: 0px 40px;
    }
    .cover-button-outer {
        width: 47%;
      
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {

    .girl-1 {
        width: 367px;
        height: 161px;
   
        left: 26.68%;
        top: 6.2%;
    }

    .girl-1:hover {
       
        width: 367px;
        height: 161px;
   
    }
    .girl-2 {
        width: 330px;
        height: 215px;
   
        left: 2.85%;
        top: 28.3%;
    }

    .girl-2:hover {
       
        width: 330px;
        height: 215px;
   
    }
    .girl-3 {
        width: 361px;
        height: 189px;
        left: 36.78%;
        top: 32.2%;
    }

    .girl-3:hover {
       
        width: 361px;
        height: 189px;
   
    }
    .message-icon-1 {
        width: 30px;
        height: 27px;
     
        left: 28.5%;
        top: 13.30%;
    }
    .message-icon-2 {
        width: 30px;
        height: 27px;
        left: 19.7%;
        top: 44%;
    
    }
    .message-icon-3 {
        width: 30px;
        height: 27px;
        left: 38.5%;
    top: 47%;
     
       
    }

    .cover-content-right-p1, .cover-content-right-p2 {
      
        font-size: 14px;
   
    }

    .cover-button-outer {
        width: 58%;
       
    }
}

/* Media query end */



/* Animations */
@keyframes blinker{
0%{
opacity: 0%;
}

100%{
opacity: 100%;
}
}


 @keyframes opacity-effect {
  0% {
    opacity: 0%;
  }

 
 

  
  
  100% {
    opacity: 100%;
  }
} 